Crudsoapv1/src/main/webapp/wsdl/Utilisateur.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws" xmlns:intf="http://ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="lister">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="listerResponse">
    <complexType>
     <sequence>
      <element name="listerReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="listerRequest">

      <wsdl:part element="impl:lister" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listerResponse">

      <wsdl:part element="impl:listerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Utilisateur">

      <wsdl:operation name="lister">

         <wsdl:input message="impl:listerRequest" name="listerRequest">

       </wsdl:input>

         <wsdl:output message="impl:listerResponse" name="listerResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UtilisateurSoapBinding" type="impl:Utilisateur">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="lister">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UtilisateurService">

      <wsdl:port binding="impl:UtilisateurSoapBinding" name="Utilisateur">

         <wsdlsoap:address location="http://localhost:8080/Crudsoapv1/services/Utilisateur"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
