src/main/webapp/wsdl/Etudiant.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws" xmlns:intf="http://ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="supprimerEtudiant">
    <complexType>
     <sequence>
      <element name="in0" type="xsd:string"/>
      <element name="in1" type="xsd:string"/>
      <element name="in2" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="supprimerEtudiantResponse">
    <complexType>
     <sequence>
      <element name="supprimerEtudiantReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="lister">
    <complexType>
     <sequence>
      <element name="listeEtudiant" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="listerResponse">
    <complexType>
     <sequence>
      <element name="listerReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="ajouterEtudiant">
    <complexType>
     <sequence>
      <element name="in0" type="xsd:string"/>
      <element name="in1" type="xsd:string"/>
      <element name="in2" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="ajouterEtudiantResponse">
    <complexType>
     <sequence>
      <element name="ajouterEtudiantReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="listerRequest">

      <wsdl:part element="impl:lister" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ajouterEtudiantRequest">

      <wsdl:part element="impl:ajouterEtudiant" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="supprimerEtudiantResponse">

      <wsdl:part element="impl:supprimerEtudiantResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="supprimerEtudiantRequest">

      <wsdl:part element="impl:supprimerEtudiant" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ajouterEtudiantResponse">

      <wsdl:part element="impl:ajouterEtudiantResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listerResponse">

      <wsdl:part element="impl:listerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Etudiant">

      <wsdl:operation name="supprimerEtudiant">

         <wsdl:input message="impl:supprimerEtudiantRequest" name="supprimerEtudiantRequest">

       </wsdl:input>

         <wsdl:output message="impl:supprimerEtudiantResponse" name="supprimerEtudiantResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="lister">

         <wsdl:input message="impl:listerRequest" name="listerRequest">

       </wsdl:input>

         <wsdl:output message="impl:listerResponse" name="listerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ajouterEtudiant">

         <wsdl:input message="impl:ajouterEtudiantRequest" name="ajouterEtudiantRequest">

       </wsdl:input>

         <wsdl:output message="impl:ajouterEtudiantResponse" name="ajouterEtudiantResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EtudiantSoapBinding" type="impl:Etudiant">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="supprimerEtudiant">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="supprimerEtudiantRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="supprimerEtudiantResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="lister">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ajouterEtudiant">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ajouterEtudiantRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="ajouterEtudiantResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EtudiantService">

      <wsdl:port binding="impl:EtudiantSoapBinding" name="Etudiant">

         <wsdlsoap:address location="http://tempuri.org/webServiceEtudiant-master/services/Etudiant"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
